---
# Only the main Sass file needs front matter (the dashes are enough)
---
$image-cover-bg:  "{{ site.baseurl }}/images/CoverDogPlayBall-800x500.jpg"; 
$logo-width:  40px;
$logo-height:  16px;

$font-family-base:  Helvetica, Arial, sans-serif;
$font-size-base:  16px;
$font-size-small:  $font-size-base * 0.875;
$font-weight-base: 400;
$line-height-base:  1.5;

$spacing-unit:  30px;

$color-text:  #000000;
$color-bg:  #ffffff;
$color-brand:  #2a7ae2;

$color-text-conv:  #ffffff;
$color-bg-conv:  rgba(0,0,0,0.5);

$grey:  #828282;
$grey-light:  lighten($grey, 40%);
$grey-dark:  darken($grey, 25%);

$width-content:    800px;
$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "home-page",
  "syntax-highlighting"
;
