---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Matching Game</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">Matching Game</h1>
          </header>
          <div class="post-content" itemprop="articleBody">
            <div><img src="{{ "/images/20180810-BirthStoryRaven-WaterBirth-1280x960.jpg" | prepend: site.baseurl }}"><div>
            <div><a href="{{ "/2018/08/10/Birth-Story-Raven.html" | prepend: site.baseurl }}">Back to Post</a></div>
          </div>
        </article>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
