<!-- Share Buttons BEGIN -->
<div id="fb-root"></div>
<div id="ckepop" style="display:inline-block">  
  <a class="jiathis_button_weixin">微信</a>
  <a class="jiathis_button_tsina">新浪微博</a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
<!-- Share Buttons END -->



<!-- Full Share Buttons BEGIN
<div id="fb-root"></div>
<div id="ckepop" style="display:inline-block">  
  <a class="jiathis_button_weixin">微信</a>
  <a class="jiathis_button_tsina">新浪微博</a>
  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
</div>
<div style="display:inline-block"><a href="https://twitter.com/share" class="twitter-share-button" data-via="YuexiTan" data-hashtags="WiseGame">Tweet</a></div>
<div style="display:inline-block" class="fb-share-button" data-layout="button"></div>
<style media="screen" type="text/css">
.fb_iframe_widget span {vertical-align: baseline !important;}
</style>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
<script>!function(d,s,id) {
  var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
  if (d.getElementById(id)) return;
  js=d.createElement(s);
  js.id=id;
  js.src=p+'://platform.twitter.com/widgets.js';
  fjs.parentNode.insertBefore(js,fjs);
}(document, 'script', 'twitter-wjs');</script>
<script>!function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); 
  js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk');</script>
Full Share Buttons END -->
